<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= shoujihao%>用户订餐信息</title>
</head>
<style>
 .wrap{
            margin: 50px auto;
            width: 500px;
            height: 400px;
            border: 2px solid #999;
            text-align: center;
        }
        h1{
            color: #ff12cd;
        }

</style>
<body>
   <div class="wrap">
       <a href="/allorder">查看订餐列表</a>
       <h1><%= shoujihao%>用户点菜如下：</h1>
      <h3><%=cai%></h3>
   </div>
</body>
</html>