<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>粉色棒棒糖倒立404</title>
    <link rel="stylesheet" href="/css/style-freedom.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap" rel="stylesheet"> -->
</head>
<style>
.w3l-errorpage .error404 {
    background: url("/img/404.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
}
</style>
<body>
    <section class="w3l-errorpage">
        <div class="error404">
            <div class="wrapper">
                <div class="logo-brand">
                    <h1><a class="brand-logo-text" href="https://404.life/">Candy <div class="position-head"><span
                                    class="">E</span>rror
                            </div>Page</a></h1>
                </div>
            </div>
            <div class="wrapper">
                <div class="midle-page">
                    <section class="error-container">
                        <span><span>4</span></span>
                        <span>0</span>
                        <span><span>4</span></span>
                    </section>
                    <h1>Page Not Found</h1>
                    <p class="zoom-area para">对不起，页面丢失了，请返回首页或者联系我们哦 </p>

                    <div class="link-container">
                        <a href="/admin/index" class="more-link">返回首页</a>

                    </div>
                </div>
                <div class="columns-copy ">
                    <p class="copy-footer">Copyright &copy; 404.life All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>